.menu-hamburguer{
    background-image: url(../img/Menu.svg);
}

.cabecalho{
    display: flex;
    justify-content: space-between;
}

.menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;    
}

.menu-lista{
    display: none;
    position: absolute;
    width: 60vw;
    text-transform: uppercase;
}

.seletor-menu:checked ~ .menu-lista{
    display: block;
    /*Ele poẽm o display block se acaso estiver com um check*/
}

.menu-lista-item, .menu-lista-titulo {
    background-color: white;
    padding: 1em;
    /*Ele poẽm o background color e o padding no menu-lista e menu-item*/
}

.menu-lista-titulo{
    color: var(--laranja);
}